@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  body {
    @apply leading-loose;
  }
  h1 {
    @apply bg-opacity-50 bg-gradient-to-b from-neutral-900 to-neutral-600 bg-clip-text text-[48px] font-bold leading-[1.1] text-transparent dark:from-neutral-50 dark:to-neutral-400 xl:text-[80px];
  }
  h2 {
    @apply bg-opacity-50 bg-gradient-to-b from-neutral-900 to-neutral-600 bg-clip-text text-[36px] font-bold leading-[1.1] text-transparent dark:from-neutral-50 dark:to-neutral-400 xl:text-[48px];
  }
  h3 {
    @apply bg-opacity-50 bg-gradient-to-b from-neutral-900 to-neutral-600 bg-clip-text text-[20px] font-bold leading-[1.1] text-transparent dark:from-neutral-50 dark:to-neutral-400 xl:text-[24px];
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
}

html {
  background-color: white;
  color-scheme: light;
}

html.dark {
  background-color: black;
  color-scheme: dark;
}

html,
body {
  @apply h-full w-full;
}

body {
  @apply relative flex flex-col;
}

main {
  @apply flex flex-1 flex-col;
}

header {
  @apply border-b;
}

header:not(.scrolled) {
  @apply border-transparent bg-transparent;
}

header.scrolled {
  @apply border-black/25 bg-white/80 saturate-200 backdrop-blur-sm dark:border-white/25 dark:bg-black/50;
}

.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }
}
