@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  margin-inline: auto;
  padding-inline: 15px;
  width: 100%;

  @variant sm {
    max-width: var(--breakpoint-sm);
  }
  @variant md {
    max-width: var(--breakpoint-md);
  }
  @variant lg {
    max-width: var(--breakpoint-lg);
  }
  @variant xl {
    max-width: var(--breakpoint-xl);
  }
}

@utility prose {
  max-width: none;
}

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply leading-loose relative flex flex-col h-full w-full;
  }

  h1 {
    @apply bg-gradient-to-b from-neutral-900/50 to-neutral-600/50 bg-clip-text text-[48px] font-bold leading-[1.1] text-transparent dark:from-neutral-50/50 dark:to-neutral-400/50 xl:text-[80px];
  }
  h2 {
    @apply bg-gradient-to-b from-neutral-900/50 to-neutral-600/50 bg-clip-text text-[36px] font-bold leading-[1.1] text-transparent dark:from-neutral-50/50 dark:to-neutral-400/50 xl:text-[48px];
  }
  h3 {
    @apply bg-gradient-to-b from-neutral-900/50 to-neutral-600/50 bg-clip-text text-[20px] font-bold leading-[1.1] text-transparent dark:from-neutral-50/50 dark:to-neutral-400/50 xl:text-[24px];
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background-color: white;
  color-scheme: light;
  @apply h-full w-full;
}

html.dark {
  background-color: black;
  color-scheme: dark;
}

main {
  @apply flex flex-1 flex-col;
}

header {
  @apply border-b border-transparent bg-transparent transition-colors duration-300;
}

header.scrolled {
  @apply border-black/25 bg-white/80 saturate-200 backdrop-blur-sm dark:border-white/25 dark:bg-black/50;
}

.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }
}
