---
import Section from "../Section.astro";
import { skills } from "@cv";
const { technologies, programming_languages } = skills;
---

<Section className={Astro.props.className} title="Skills">
  <h3 class="text-sm font-bold">Technologies</h3>
  <ul class="flex flex-wrap gap-2">
    {
      technologies.map(({ name }) => {
        return (
          <li class="flex items-center gap-1 rounded-md border border-white/25 bg-neutral-800/50 px-2 py-1 text-xs">
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>

  <h3 class="mt-4 text-sm font-bold">Programming Languages</h3>
  <ul class="flex flex-wrap gap-2">
    {
      programming_languages.map(({ name }) => (
        <li class="flex items-center gap-1 rounded-md border border-white/25 bg-neutral-800/50 px-2 py-1 text-xs">
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
