---
import Heading from "@/components/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Awards from "@/components/sections/Awards.astro";
import Skills from "@/components/sections/Skills.astro";
import { SITE } from "@/consts";
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <div
    class="mx-auto flex min-h-screen w-full max-w-4xl flex-col items-center justify-center"
  >
    <Heading
      title="About Me"
      description="Hello 👋 I'm Rayhan Kafi Pratama, a bachelor of computer science student."
    />
    <p
      class="mt-2 text-justify text-sm leading-6 sm:mt-4 sm:text-base lg:mt-6 lg:text-lg"
    >
      My passion for crafting software that turns ideas into reality through
      elegant and intuitive interfaces.
    </p>
    <p
      class="mb-8 mt-2 text-justify text-sm leading-6 sm:mt-4 sm:text-base lg:mt-6 lg:text-lg"
    >
      I place a strong emphasis on creating seamless experiences, robust
      architecture, and high-quality code. I'm always eager to enhance my skills
      and contribute to meaningful and impactful projects.
    </p>

    <div class="space-y-12 md:col-span-4">
      <Experience />
      <Skills />
      <Awards class="order-first" />
      <Education class="order-first" />
    </div>
  </div>
</Layout>
