---
import Awards from "@/components/Awards.astro";
import Heading from "@/components/Heading.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import Skills from "@/components/Skills.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE } from "@/consts";
---

<BaseLayout title="About" description={SITE.DESCRIPTION}>
  <div class="container mx-auto my-24 xl:my-5">
    <Heading title="About Me" />
    <div class="space-y-8 md:col-span-4">
      <Experience />
      <Skills />
      <Awards class="order-first" />
      <Education class="order-first" />
    </div>
  </div>
</BaseLayout>
