---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
import { basics } from "@cv";

const { profiles } = basics;
---

<Layout title="Rxyhn">
  <div
    class="relative z-20 mx-auto flex min-h-screen w-full max-w-4xl flex-col items-center justify-center px-7 xl:px-0"
  >
    <Heading
      title="Reach Me!"
      description="I'm always open to new opportunities and collaborations. Feel free to reach out to me through any of the following platforms."
    />
    <div
      class="z-50 my-8 grid w-full grid-cols-1 items-stretch gap-7 sm:grid-cols-2 sm:gap-5"
    >
      {
        profiles.map((profile) => (
          <Card
            url={profile.url}
            description={profile.username}
            highlights={[]}
            name={profile.network}
          />
        ))
      }
    </div>
  </div>
</Layout>
