---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { profiles } = basics;
---

<Layout title="Contacts" description={SITE.DESCRIPTION}>
  <div
    class="mx-auto flex min-h-screen w-full max-w-4xl flex-col items-center justify-center"
  >
    <Heading
      title="Contacts"
      description="I'm always open to new opportunities and collaborations. Feel free to reach out through any of the following platforms."
    />
    <div class="my-8 grid w-full grid-cols-1 gap-7 sm:grid-cols-2">
      {
        profiles.map((profile) => (
          <Card
            url={profile.url}
            description={profile.username}
            highlights={[]}
            name={profile.network}
          />
        ))
      }
    </div>
  </div>
</Layout>
