---
import Layout from "../layouts/main.astro";
---

<Layout title="Rxyhn">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div
      class="flex flex-col justify-between items-center md:flex-row gap-x-4 md:gap-x-0"
    >
      <div class="relative w-full">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hello, I'm Rayhan Pratama.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          Computer Science Student at Bina Nusantara University. <br
            class="hidden lg:block"
          />With a deep passion for Software Engineering, AI, and Blockchain
          technology.
        </p>
      </div>
      <div
        class="w-full h-full lg:h-[420px] translate-x-0 -translate-y-px bg-red-400 border border-dashed rounded-2xl bg-gradient-to-r from-white to-white dark:from-neutral-950 dark:via-black dark:to-neutral-950 via-neutral-50 border-neutral-300 dark:border-neutral-700"
      >
        <img
          src="/assets/images/photo.png"
          loading="eager"
          decoding="auto"
          class="object-cover w-full h-full bg-center"
        />
      </div>
    </div>
  </div>
</Layout>
