---
import PageHeading from "../components/Heading.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Projects">
  <section class="relative z-20 mx-auto my-12 max-w-2xl px-7 lg:px-0">
    <PageHeading
      title="My Projects"
      description="Explore a collection of my projects here. As an open-source enthusiast and maintainer, I'm passionate about the collaborative and knowledge-sharing nature of open source. I take pride in contributing work that ultimately benefits both the community and the industry."
    />
    <Project className="print:hidden" />
  </section>
</Layout>
