<div class="absolute h-auto w-full" style="z-index:-1">
  <div class="absolute left-0 top-0 h-auto w-1/2">
    <div
      class="pointer-events-none absolute inset-0 z-30 h-full w-full bg-gradient-to-tl from-neutral-950 from-50% via-transparent via-90% to-transparent to-100%"
    >
    </div>
    <div
      class="flex h-full w-full flex-col divide-y divide-dashed divide-neutral-700 border-l border-t border-neutral-950"
    >
      {
        Array.from({ length: 6 }).map((_, rowIndex) => (
          <div class="relative flex h-[20px] w-full divide-x divide-dashed divide-neutral-700 sm:h-[30px] md:h-[45px] lg:h-[60px] xl:h-[88px]">
            {Array.from({ length: 9 }).map((_, colIndex) => (
              <div class="relative w-full bg-neutral-950">
                <div class="absolute inset-0.5 bg-neutral-950" />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>

  <div class="absolute right-0 top-0 h-auto w-1/2">
    <div
      class="pointer-events-none absolute inset-0 z-30 h-full w-full bg-gradient-to-tr from-neutral-950 from-50% via-transparent via-90% to-transparent to-100%"
    >
    </div>
    <div
      class="flex h-full w-full flex-col divide-y divide-dashed divide-neutral-700 border-l border-t border-neutral-950"
    >
      {
        Array.from({ length: 6 }).map((_, rowIndex) => (
          <div class="relative flex h-[20px] w-full divide-x divide-dashed divide-neutral-700 sm:h-[30px] md:h-[45px] lg:h-[60px] xl:h-[88px]">
            {Array.from({ length: 9 }).map((_, colIndex) => (
              <div class="relative w-full bg-neutral-950">
                <div class="absolute inset-0.5 bg-neutral-950" />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</div>
