---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="mt-4 inline-flex w-auto items-center rounded-full border border-neutral-950 bg-neutral-200 px-4 py-2 text-sm font-semibold text-neutral-950 backdrop-blur-xl transition-all duration-300 ease-out hover:border-neutral-200 hover:bg-neutral-950 hover:text-neutral-200"
>
  {text}
</a>
