---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="mt-4 inline-flex w-auto items-center rounded-full border border-neutral-900 bg-white px-4 py-2 text-sm font-semibold text-neutral-900 backdrop-blur-xl transition-all duration-300 ease-out hover:border-neutral-300 hover:bg-black hover:text-white"
>
  {text}
</a>
