---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-full items-center justify-center rounded-full border border-black bg-white px-4 py-2 text-sm font-bold text-black transition-all duration-300 ease-out hover:border-white hover:bg-black hover:text-white md:w-auto"
>
  {text}
</a>
