---
import { Icon } from "astro-icon/components";

type Props = {
  icon: string;
  href: string;
};

const { icon, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="blend group flex w-fit items-center gap-2 rounded border border-neutral-700 px-3 py-2 hover:bg-neutral-800"
>
  <span
    class="blend text-sm capitalize text-neutral-400 group-hover:text-white"
  >
    <Icon name={icon} size={20} />
  </span>
</a>
