---
type Props = {
  url: string;
  description: string;
  highlights: string[];
  name: string;
  technologies: string[];
};

const { url, name, description, highlights, technologies } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="group flex items-center gap-3 rounded-lg border border-black/15 p-4 transition-colors hover:bg-black/5 dark:border-white/20 hover:dark:bg-white/10"
>
  <div class="w-full group-hover:text-black dark:group-hover:text-white">
    <div class="flex items-center gap-2">
      <h3
        class="text-base font-bold leading-snug text-black/75 dark:text-white/75"
      >
        {name}
      </h3>
      <svg
        class="h-2.5 w-2.5 -translate-x-1 translate-y-1 -rotate-45 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
        viewBox="0 0 13 15"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-width="2.4"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline
            class="opacity-0 transition-opacity group-hover:opacity-100"
            points="5.33 0 10.83 5.5 5.33 11"></polyline>
          <line
            class="opacity-0 transition-transform group-hover:opacity-100"
            x1="10.83"
            y1="5.5"
            x2="0.83"
            y2="5.17"></line>
        </g>
      </svg>
    </div>
    <div class="mt-2 flex flex-col gap-2">
      <p class="text-sm text-black/75 dark:text-white/75">{description}</p>
      <p class="text-sm text-black/50 dark:text-white/50">
        {highlights.join(" ")}
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          technologies.map((tech) => (
            <li class="flex items-center gap-1 rounded-md border border-black/25 bg-neutral-200/50 px-2 py-1 text-xs text-black/75 dark:border-white/25 dark:bg-neutral-800/50 dark:text-white/75">
              {tech}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</a>
