---
import { Icon } from "astro-icon/components";
import { cn } from "@/lib/utils";
---

<button
  id="drawerToggle"
  aria-label="Toggle drawer open and closed"
  class={cn(
    "md:hidden flex size-9 p-2 rounded-full items-center justify-center",
    "text-black/75 dark:text-white/75",
    "hover:bg-black/20 dark:hover:bg-white/20",
    "border border-black/25 dark:border-white/25",
    "hover:transition-colors duration-300",
  )}
>
  <Icon id="drawerOpen" name="menu" class="block size-full" />
  <Icon id="drawerClose" name="close" class="hidden size-full" />
</button>

<style>
  #drawerToggle.open #drawerOpen {
    display: none;
  }

  #drawerToggle.open #drawerClose {
    display: block;
  }
</style>

<script>
  function toggleDrawer() {
    const drawer = document.getElementById("drawer");
    const drawerButton = document.getElementById("drawerToggle");
    drawer?.classList.toggle("open");
    drawerButton?.classList.toggle("open");
  }

  document
    .getElementById("drawerToggle")
    ?.addEventListener("click", toggleDrawer);

  document.addEventListener("astro:after-swap", () => {
    document
      .getElementById("drawerToggle")
      ?.addEventListener("click", toggleDrawer);
  });
</script>
