---
import { Icon } from "astro-icon/components";
import { LINKS } from "@/consts";
import { cn } from "@/lib/utils";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
---

<div
  id="drawer"
  class="fixed inset-0 z-40 flex h-0 flex-col items-center justify-center overflow-hidden bg-neutral-100 transition-[height] duration-300 ease-in-out md:hidden dark:bg-neutral-900"
>
  <nav class="flex flex-col items-center space-y-2">
    {
      LINKS.map((LINK) => (
        <a
          href={LINK.HREF}
          class={cn(
            "flex items-center justify-center rounded-full px-3 py-1",
            "text-current hover:text-black dark:hover:text-white",
            "hover:bg-black/5 dark:hover:bg-white/20",
            "transition-colors duration-300 ease-in-out",
            pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
              ? "pointer-events-none bg-black text-white dark:bg-white dark:text-black"
              : "",
          )}
        >
          {LINK.TEXT}
        </a>
      ))
    }
  </nav>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>
