---
import { Icon } from "astro-icon/components";
import { LINKS } from "@/consts";
import { cn } from "@/lib/utils";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
---

<div
  id="drawer"
  class="fixed inset-0 z-40 flex h-0 flex-col items-center justify-center overflow-hidden bg-white/50 backdrop-blur-md transition-[height] duration-300 ease-in-out dark:bg-black/50 md:hidden"
>
  <nav class="flex flex-col items-center space-y-2">
    {
      LINKS.map((LINK) => (
        <a
          href={LINK.HREF}
          class={cn(
            "flex items-center justify-center rounded-full px-3 py-1",
            "text-current hover:text-black dark:hover:text-white",
            "hover:bg-black/20 dark:hover:bg-white/20",
            "transition-colors duration-300 ease-in-out",
            pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
              ? "pointer-events-none bg-black text-white dark:bg-white dark:text-black"
              : "",
          )}
        >
          {LINK.TEXT}
        </a>
      ))
    }
  </nav>
  <div class="mt-5 flex">
    <button
      id="drawer-theme-button"
      aria-label="Toggle light and dark theme"
      class="flex items-center space-x-2 rounded-full border border-black/10 bg-transparent stroke-current p-2 px-4 transition-colors duration-300 ease-in-out hover:bg-black/20 hover:stroke-black dark:border-white/25 dark:hover:bg-white/20 hover:dark:stroke-white"
    >
      <Icon name="sun" class="block size-6 dark:hidden" />
      <Icon name="moon" class="hidden size-6 dark:block" />
      <span class="text-sm text-black dark:text-white">
        <span class="block dark:hidden">Light</span>
        <span class="hidden dark:block">Dark</span>
      </span>
    </button>
  </div>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>
