---
import { SITE } from "@/consts";
import Container from "@/components/Container.astro";
---

<footer class="relative bg-black">
  <section class="overflow-hidden border-t border-white/25 py-3">
    <Container size="md">
      <div class="flex flex-col items-center justify-center">
        <p class="mt-2 text-center text-sm">
          &copy; {new Date().getFullYear()}
          {SITE.AUTHOR}. All rights reserved.
        </p>
      </div>
    </Container>
  </section>
</footer>
