---
import { SITE } from "@/consts";
---

<footer class="relative mt-auto hidden bg-white dark:bg-black md:block">
  <section
    class="overflow-hidden border-t border-black/25 py-3 dark:border-white/25"
  >
    <div class="flex h-full items-center justify-center print:hidden">
      <p class="text-center text-sm text-black/80 dark:text-white/80">
        &copy; {new Date().getFullYear()}
        {SITE.AUTHOR}. All rights reserved.
      </p>
    </div>
  </section>
</footer>
