---
const { title, description } = Astro.props;
---

<div class="relative z-20 mx-auto w-full lg:mx-0">
  <h2
    class="text-2xl font-bold tracking-tight text-neutral-100 sm:text-3xl lg:text-4xl"
  >
    {title}
  </h2>
  <p
    class="mt-3 text-sm leading-6 text-neutral-400 sm:mt-4 sm:text-base sm:leading-7 lg:mt-6 lg:text-lg lg:leading-8"
  >
    {description}
  </p>
</div>
