---
const { title, description } = Astro.props;
---

<header class="flex flex-col items-center gap-4 text-center">
  <div>
    <h1
      class="bg-opacity-50 bg-gradient-to-b from-neutral-50 to-neutral-400 bg-clip-text text-4xl font-bold tracking-tight text-transparent lg:text-5xl"
    >
      {title}.
    </h1>
    <h2 class="mt-2 text-justify text-sm font-medium lg:text-lg">
      {description}
    </h2>
  </div>
</header>
