---
type Props = {
  title: string;
  description: string;
  highlight?: string[];
};

const { title, description, highlight } = Astro.props;
---

<header class="flex flex-col items-center gap-4 text-center">
  <div>
    <h1>
      {title}
    </h1>
    <p
      class="mt-2 text-justify text-sm leading-6 text-black/75 dark:text-white/75 sm:mt-4 sm:text-base lg:mt-6 lg:text-lg"
    >
      {description}
    </p>
    {
      highlight && (
        <div class="flex flex-col gap-2">
          {highlight.map((item) => (
            <p class="text-justify text-sm leading-6 text-black/75 dark:text-white/75 sm:text-base lg:text-lg">
              {item}
            </p>
          ))}
        </div>
      )
    }
  </div>
</header>
