---
import { basics } from "@cv";
const { nickname } = basics;
---

<a
  href="/"
  class="group relative z-30 flex h-5 items-center space-x-1.5 text-base font-semibold uppercase text-white"
>
  {nickname}
</a>
