---
const { className, title } = Astro.props;
---

<section class:list={["flex flex-col gap-4 print:gap-0", className]}>
  {
    title && (
      <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200">
        {title}
      </h2>
    )
  }
  <slot />
</section>
