---
const { className, title } = Astro.props;
---

<section class:list={["flex flex-col gap-4 print:gap-0", className]}>
  {
    title && (
      <h2 class="mb-2 mt-5 text-2xl font-bold dark:text-neutral-200 sm:mt-6 lg:mt-10">
        {title}
      </h2>
    )
  }
  <slot />
</section>
