---
type Props = {
  className: string;
  title: string;
};

const { className, title } = Astro.props;
---

<section class:list={["flex flex-col gap-2", className]}>
  {
    title && (
      <h3 class="text-base font-bold text-black dark:text-white">{title}</h3>
    )
  }
  <hr class="border-t border-black/25 dark:border-white/25" />
  <slot />
</section>
