---
type Props = {
  className: string;
  title: string;
};

const { className, title } = Astro.props;
---

<section class:list={["flex flex-col gap-2", className]}>
  {title && <h2 class="font-semibold text-black dark:text-white">{title}</h2>}
  <slot />
</section>
