---
import { skills } from "@cv";
import Section from "./Section.astro";
const { programming_languages, frameworks, databases, tools } = skills;

const skillCategories = [
  { title: "Programming Languages", items: programming_languages },
  { title: "Libraries / Frameworks", items: frameworks },
  { title: "Database", items: databases },
  { title: "Tools", items: tools },
];
---

<Section className={Astro.props.className} title="Skills">
  <div class="flex flex-col space-y-4">
    {
      skillCategories.map(({ title, items }) => (
        <div class="flex flex-col sm:flex-row sm:items-center">
          <span class="w-full text-sm font-bold text-black/80 dark:text-white/80 sm:w-48">
            {title}
          </span>
          <span class="hidden px-2 sm:inline-block">:</span>
          <ul class="flex flex-1 flex-wrap gap-2">
            {items.map((item) => (
              <li class="inline-flex items-center rounded-md border border-black/25 bg-neutral-200/50 px-2 py-1 text-xs text-black/80 dark:border-white/25 dark:bg-neutral-800/50 dark:text-white/80">
                {item}
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</Section>
