<div class="absolute w-full h-auto" style="z-index:-1">
  <div
    class="absolute top-0 left-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tl from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-900"
    >
      {
        Array.from({ length: 6 }).map(() => (
          <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed">
            {Array.from({ length: 9 }).map(() => (
              <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square" />
            ))}
          </div>
        ))
      }
    </div>
  </div>

  <div
    class="absolute top-0 right-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tr from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-900"
    >
      {
        Array.from({ length: 6 }).map(() => (
          <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed">
            {Array.from({ length: 9 }).map(() => (
              <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square" />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</div>
