---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE } from "@/consts";
import "@/styles/global.css";
import BaseHead from "./BaseHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={`${title} - ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
