---
import "@/styles/global.css";
import BaseHead from "@/components/BaseHead.astro";
import Container from "@/components/Container.astro";
import Header from "@/components/Header.astro";
import Drawer from "@/components/Drawer.astro";
import Footer from "@/components/Footer.astro";
import Starry from "@/components/Starry";
import Boxes from "@/components/Boxes";
const { title, description } = Astro.props;
import { SITE } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} - ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Boxes client:load />
    <Starry
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.8}
      opacity={0.3}
      particleDensity={100}
      className="fixed inset-0 z-0"
    />
    <div class="relative z-10">
      <Header />
      <Drawer />
      <main>
        <Container size="lg">
          <slot />
        </Container>
      </main>
      <Footer />
    </div>
  </body>
</html>
