---
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
import Starry from "@/components/Starry";
import SquareLines from "@/components/Square.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>
    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="../favicon.png" />
    <script src="../styles/global.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body
    class="relative z-10 bg-white leading-relaxed tracking-wide text-neutral-200 antialiased selection:bg-neutral-300 selection:text-neutral-900 dark:bg-neutral-950"
  >
    <SquareLines />
    <NavBar />
    <Starry
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.2}
      particleDensity={100}
      className="fixed z-0 h-full w-full"
      particleColor="#FFFFFF"
    />
    <slot />
    <Footer />
    <script src="../scripts/main.ts"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
