---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Starry from "@/components/Starry";
import Boxes from "@/components/Boxes";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="relative flex min-h-screen flex-col bg-black leading-relaxed tracking-wide text-neutral-200 antialiased selection:bg-neutral-300 selection:text-neutral-900"
  >
    <Boxes client:load />
    <Header />
    <Starry
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.2}
      particleDensity={100}
      className="fixed inset-0 z-0"
      particleColor="#FFFFFF"
    />
    <main class="relative z-10 flex-grow py-16">
      <slot />
    </main>
    <Footer />

    <script src="../scripts/main.ts"></script>
  </body>
</html>
